# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Docker data
data/

# Generated extension folder
extension/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# SSL certificates
*.pem
*.crt
*.key
